*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
button i{
  margin-left: 8px;
  font-size: 13px;
}
ul li{
  cursor: pointer;
}
.main-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(7, 1, 18);
  z-index: 10;
}
.quiz_config,
.quiz_box,
.quiz_info,
.quiz_result{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  width: 420px;
  background-color: rgb(25, 32, 74);
  border-radius: 12px;
  transform: translate(-50%, -50%) scale(1.08);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  z-index: 10;
  transform-origin: center;
  user-select: none;
}
.quiz_info{
  width: 580px;
}
.quiz_box{
  width: 600px;
}
.quiz_result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
  background-color: rgb(3, 6, 26);
}
.result_content{
  text-align: center;
}
.quiz_config.activeConfig,
.quiz_info.activeInfo,
.quiz_box.activeQuiz,
.quiz_result.activeResult{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.quiz_config .header,
.quiz_info .header, 
.quiz_box .header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 30px;
  background: linear-gradient(30deg, rgb(150, 2, 150), rgb(44, 11, 255));
  color: white;
}
.quiz_config .header h1,
.quiz_info .header h1,
.quiz_box .header h1{
    font-size: 24px;
    color: white;
}
.quiz_box .header .timer{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.quiz_box .question-content{
  padding: 30px 40px;
}
.quiz_box .bottom-content{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-top: 1px solid rgb(50, 76, 162);
}
.quiz_box h2{
  font-size: 22px;
  margin-bottom: 15px;
  color: white;
}
.quiz_box .answer-list{
  list-style: none;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-family: sans-serif;
  color: rgb(148, 148, 255);
  margin: 30px 0;
}
.quiz_box .answer-list.disable{
  pointer-events: none;
  user-select: none;
}
.quiz_box .answer-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(96, 96, 255, 0.12);
  padding: 10px;
  margin: 16px 0;
  border-radius: 6px;
  border: 1.5px solid rgba(137, 137, 255, 0.8);
  user-select: none;
  box-sizing: border-box;
}
.answer-list li:hover{
   background-color: rgba(96, 96, 255, 0.3);
}
.answer-list li span{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.answer-list li span i.fa-regular{
  font-size: 20px;
  padding: 0;
  margin: 0;
}
 span i.fa-circle-check{
   color: rgb(3, 174, 0);
}
 span i.fa-circle-xmark{
   color: rgb(222, 0, 0);
}
.answer-list li.correct{
  background-color: rgba(18, 255, 89,0.13);
  color: rgb(3, 174, 0);
  border: 1.5px solid rgb(25, 231, 25);
}
.answer-list li.incorrect{
  background-color: rgb(255, 18, 18,0.13);
  color: rgb(222, 0, 0);
  border: 1.5px solid rgb(228, 22, 22);
}
.play-game{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  padding: 10px 40px;
  margin: 0;
  border-radius: 40px;
  background-color: blueviolet;
  cursor: pointer;
  transition: 0.2s ease;
}
.play-game:hover{
  transform: translate(-50%, -50%) scale(1.04);
}
.play-game.hide{
  display: none;
}
.quiz_info .buttons,
.quiz_result .buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
  margin: 30px 0 40px 0;
  gap: 12px;
  /* border: 2px solid red; */
}
.quiz_info .buttons .btn,
.quiz_result .buttons .btn{
  width: calc(100%/2 - 15px);
  font-size: 15px;
  color: white;
  letter-spacing: 0.6px;
  text-align: center;
  outline: none;
  border: none;
  border: 1.5px solid blueviolet;
  padding: 9px 22px;
  border-radius: 40px;
  background-color: rgb(132, 40, 218);
  opacity: 1;
}
.buttons .btn.exit{
  color: white;
  background-color: rgba(143, 87, 255, 0.2);
  border: 1.5px solid white;
}
.buttons .btn:hover{
  opacity: 0.8;
}
.nextBtn{
  display: none;
  font-size: 15px;
  color: white;
  letter-spacing: 0.7px;
  outline: none;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: blueviolet;
  cursor: pointer;
}
.quiz_box .header .score{
  display: none;
  padding: 8px 20px;
  background-color: rgba(228, 228, 255, 0.2);
  font-size: 18px;
  color: white;
  border-radius: 8px;
}
.question_counter {
  color: white;
  font-size: 18px;
  /* font-family: sans-serif; */
  letter-spacing: 0.6px;
}
.question_counter span{
  font-weight: bold;
  font-size: 24px;
  margin: 0 8px;
}

.questionCategory, 
.numbOfQuestion{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  padding: 20px 30px;
  font-family: sans-serif;
  box-sizing: border-box;
}
.numbOfQuestion{
  padding-top: 0;
}
.questionCategory .buttons, 
.numbOfQuestion .buttons{
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
}

label{
  color: white;
  margin-bottom: 15px;
}
.questionCategory .category-btn,
.numbOfQuestion .number{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(143, 87, 255, 0.1);
  font-size: 13px;
  color: white;
  letter-spacing: 0.7px;
  padding: 10px 20px;
  margin: 10px 8px 10px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 1.5px solid white;
  box-sizing: border-box;
  box-shadow: 0 0 0 0 rgba(137, 137, 255, 0.4);
}
.questionCategory .category-btn:hover,
.numbOfQuestion .number:hover{
  background-color: rgba(143, 87, 255, 0.2);
}

.numbOfQuestion{
  margin-top: 20px;
}
.numbOfQuestion .number{
  width: 50px;
  height: 50px;
  font-size: 17px;
}
.questionCategory .category-btn.active, 
.numbOfQuestion .number.active{
  background-color: blueviolet;
  color: white;
  border: 1.5px solid blueviolet;
  animation: fade-out 0.7s linear;
}
@keyframes fade-out{
  0%{
  box-shadow: 0 0 0 0 rgba(137, 137, 255, 0.4);
  }
  100%{
  box-shadow: 0 0 0 8px rgba(137, 137, 255, 0);
  }
}
.startBtn{
  display: block;
  width: calc(100% - 60px);
  font-size: 16px;
  color: white;
  letter-spacing: 0.7px;
  text-align: center;
  outline: none;
  border: none;
  padding: 12px 20px;
  margin: 15px auto 40px auto;
  border-radius: 40px;
  background-color: rgb(132, 40, 218);
  cursor: pointer;
}
.startBtn:hover{
   background-color: rgb(126, 25, 222);
}

.quiz_info .info_content{
   padding: 30px 30px 10px 30px;
   color: white;
   font-size: 16px;
   font-family: sans-serif;
}
.info_content p{
  margin: 14px 0;
  letter-spacing: 0.6px;
}

@media (max-width: 460px){
  .play-game{
    font-size: 16px;
    padding: 10px 24px;
  }
  .quiz_config,
  .quiz_info,
  .quiz_box,
  .quiz_result{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .quiz_info .buttons .btn,
.quiz_result .buttons .btn{
  width: 100%;
}
  
}